openapi: 3.1.0
info:
  title: VirtualPet API
  version: 1.0.0
  description: >
    E-commerce de productos para mascotas. Cubre dos aplicaciones cliente:
    Marketplace (clientes finales) y Backoffice (operarios de depÃ³sito).


    Convenciones transversales:

    - **Dinero:** importes como string decimal con escala fija (BigDecimal en backend);
      moneda en ISO 4217 (`java.util.Currency`). Se serializan como string para no perder
      precisiÃ³n en clientes JavaScript.

    - **PaginaciÃ³n:** por cursor opaco (`cursor`, `limit`) en los listados.

    - **Errores:** RFC 7807 (`application/problem+json`).

    - **Idempotencia:** header `Idempotency-Key` obligatorio en operaciones de pago.

    - **CorrelaciÃ³n:** header `X-Request-Id` en toda request/response.

    - **Seguridad:** rate limiting (Redis) en endpoints de auth; `429` con `Retry-After`.
servers:
  - url: https://api.virtualpet.com/api/v1
    description: ProducciÃ³n
  - url: http://localhost:8080/api/v1
    description: Local

tags:
  - name: auth
    description: AutenticaciÃ³n, registro y gestiÃ³n de cuenta
  - name: catalog
    description: CatÃ¡logo de productos (read-only, pÃºblico)
  - name: cart
    description: Carrito de compras (Redis, lazy)
  - name: checkout
    description: SesiÃ³n de checkout y pago
  - name: payments
    description: Pagos y webhooks de la pasarela
  - name: orders
    description: Ã“rdenes confirmadas
  - name: shipments
    description: EnvÃ­os y seguimiento
  - name: health
    description: Disponibilidad

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      tags: [auth]
      summary: Login
      description: Autentica con email y contraseÃ±a y devuelve los tokens. No crea carrito (creaciÃ³n lazy).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200':
          description: Autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/logout:
    post:
      tags: [auth]
      summary: Logout
      description: Invalida el refreshToken (blacklist en Redis). El accessToken caduca solo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '204': { description: SesiÃ³n cerrada }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/refresh:
    post:
      tags: [auth]
      summary: Refrescar access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: Nuevo access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken: { type: string }
                  tokenType: { type: string, examples: [Bearer] }
                  expiresIn: { type: integer, examples: [900] }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/register/customer:
    post:
      tags: [auth]
      summary: Registro de cliente
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, firstName, lastName]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                firstName: { type: string }
                lastName: { type: string }
      responses:
        '201':
          description: Cliente creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserSummary' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/register/employee:
    post:
      tags: [auth]
      summary: Registro de operario (ADMIN)
      description: Alta de operario de backoffice. Solo ADMIN.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, firstName, lastName]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                firstName: { type: string }
                lastName: { type: string }
      responses:
        '201':
          description: Operario creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /auth/me:
    get:
      tags: [auth]
      summary: Datos del usuario autenticado
      responses:
        '200':
          description: Perfil
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    patch:
      tags: [auth]
      summary: Actualizar datos personales
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName: { type: string }
                lastName: { type: string }
      responses:
        '200':
          description: Usuario actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /auth/password/change:
    post:
      tags: [auth]
      summary: Cambiar contraseÃ±a (autenticado)
      description: Exige la contraseÃ±a actual; invalida el resto de las sesiones.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string, format: password }
                newPassword: { type: string, format: password }
      responses:
        '204': { description: ContraseÃ±a cambiada }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /products:
    get:
      tags: [catalog]
      summary: Listar y buscar productos
      description: BÃºsqueda por texto y filtros por atributos, con paginaciÃ³n por cursor. Cacheable (ETag).
      security: []
      parameters:
        - { name: q, in: query, schema: { type: string }, description: BÃºsqueda full-text }
        - { name: category, in: query, schema: { type: string } }
        - { name: petType, in: query, schema: { type: string } }
        - { name: minPrice, in: query, schema: { type: string } }
        - { name: maxPrice, in: query, schema: { type: string } }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/IfNoneMatch' }
      responses:
        '200':
          description: PÃ¡gina de productos
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { schema: { type: string }, description: 'ej. public, max-age=300' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/ProductSummary' }
        '304': { description: No modificado (revalidaciÃ³n con If-None-Match) }
        '422': { $ref: '#/components/responses/ValidationError' }

  /products/facets:
    get:
      tags: [catalog]
      summary: Facetas del catÃ¡logo
      description: >
        Listas auxiliares para los filtros del marketplace: tipos de mascota, categorÃ­as y marcas.
        Endpoint pÃºblico, sin paginaciÃ³n.
      security: []
      responses:
        '200':
          description: Facetas disponibles
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogFacets' }

  /products/{id}:
    get:
      tags: [catalog]
      summary: Detalle de producto
      description: Incluye todas las variantes (SKUs) embebidas. Cacheable (ETag).
      security: []
      parameters:
        - { $ref: '#/components/parameters/ProductId' }
        - { $ref: '#/components/parameters/IfNoneMatch' }
      responses:
        '200':
          description: Producto
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        '304': { description: No modificado }
        '404': { $ref: '#/components/responses/NotFound' }

  /categories:
    get:
      tags: [catalog]
      summary: Listar categorÃ­as
      description: Listado plano de categorÃ­as para navegaciÃ³n. PÃºblico.
      security: []
      responses:
        '200':
          description: CategorÃ­as
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Category' }

  /cart:
    get:
      tags: [cart]
      summary: Obtener el carrito
      description: Devuelve el carrito del usuario. Si aÃºn no existe (lazy), responde carrito vacÃ­o con 200.
      responses:
        '200':
          description: Carrito (vacÃ­o o con items)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cart' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /cart/items/{skuId}:
    put:
      tags: [cart]
      summary: Fijar cantidad de un SKU (upsert)
      description: Fija la cantidad exacta. Dispara la creaciÃ³n lazy del carrito si no existe. Idempotente.
      parameters:
        - { $ref: '#/components/parameters/SkuId' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quantity]
              properties:
                quantity: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Item resultante
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CartItemQuantity' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [cart]
      summary: Eliminar un SKU del carrito
      description: Elimina el producto por completo. Idempotente (Ã©xito aunque no estuviera).
      parameters:
        - { $ref: '#/components/parameters/SkuId' }
      responses:
        '204': { description: Eliminado (o ya no estaba) }
        '404': { $ref: '#/components/responses/NotFound' }

  /cart/checkout:
    post:
      tags: [cart, checkout]
      summary: Iniciar checkout
      description: >
        Re-cotiza precios contra el catÃ¡logo y re-valida stock, arma el snapshot inmutable
        y crea la sesiÃ³n. Idempotente por reÃºso: devuelve la sesiÃ³n activa si ya existe (200),
        crea una nueva si no (201).
      responses:
        '201':
          description: SesiÃ³n creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CheckoutSession' }
        '200':
          description: SesiÃ³n activa reutilizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CheckoutSession' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }

  /checkout/sessions/{id}:
    get:
      tags: [checkout]
      summary: Consultar / reanudar sesiÃ³n
      parameters:
        - { $ref: '#/components/parameters/SessionId' }
      responses:
        '200':
          description: SesiÃ³n
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CheckoutSession' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /checkout/sessions/{id}/shipping-address:
    put:
      tags: [checkout]
      summary: Fijar direcciÃ³n de entrega
      description: DirecciÃ³n de destino del delivery. Obligatoria antes del payment intent. (ValidaciÃ³n de Ã¡rea de cobertura diferida a v2.)
      parameters:
        - { $ref: '#/components/parameters/SessionId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Address' }
      responses:
        '200':
          description: SesiÃ³n actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CheckoutSession' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /checkout/sessions/{id}/payment-intents:
    post:
      tags: [checkout, payments]
      summary: Iniciar pago (payment intent)
      description: >
        Persiste un Payment (PENDING) atado a la sesiÃ³n y devuelve la checkoutUrl hosteada.
        El backend nunca ve datos de tarjeta. Pasa la sesiÃ³n a AWAITING_PAYMENT.
      parameters:
        - { $ref: '#/components/parameters/SessionId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '201':
          description: Payment intent creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }
        '409': { $ref: '#/components/responses/Conflict' }
        '502': { $ref: '#/components/responses/BadGateway' }

  /checkout/sessions/{id}/confirm:
    post:
      tags: [checkout]
      summary: Confirmar (retorno del cliente)
      description: >
        Verifica el pago contra la pasarela; si estÃ¡ pagado, crea orden + shipment, descuenta
        stock y vacÃ­a el carrito (operaciÃ³n idempotente que converge con el webhook).
      parameters:
        - { $ref: '#/components/parameters/SessionId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '201':
          description: Orden confirmada (idempotente)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderConfirmation' }
        '202': { description: 'Pago aÃºn no acreditado, reintentar' }
        '402': { description: Pago rechazado (sesiÃ³n FAILED) }
        '409': { $ref: '#/components/responses/Conflict' }
        '404': { $ref: '#/components/responses/NotFound' }

  /checkout/guest:
    post:
      tags: [checkout]
      summary: Checkout como invitado (sin cuenta)
      description: >
        Flujo atÃ³mico de un paso para clientes sin cuenta: valida stock, crea la orden,
        genera el shipment y devuelve un token de seguimiento de un solo uso. No requiere
        autenticaciÃ³n. El token permite consultar el estado del pedido vÃ­a GET /orders/{id}/track.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [guest, lineItems, shippingAddress]
              properties:
                guest:
                  type: object
                  required: [firstName, lastName, email]
                  properties:
                    firstName: { type: string, example: Juan }
                    lastName: { type: string, example: GarcÃ­a }
                    email: { type: string, format: email, example: juan@example.com }
                lineItems:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [skuId, quantity]
                    properties:
                      skuId: { type: string, format: uuid }
                      quantity: { type: integer, minimum: 1 }
                shippingAddress: { $ref: '#/components/schemas/Address' }
      responses:
        '201':
          description: Orden guest confirmada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderConfirmation' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /payments/{id}:
    get:
      tags: [payments]
      summary: Estado de un pago (polling)
      description: Estado normalizado del pago, agnÃ³stico al proveedor. Complementa al webhook.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Pago
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Payment' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /payments/webhook/{provider}:
    post:
      tags: [payments]
      summary: Webhook de la pasarela
      description: >
        NotificaciÃ³n asÃ­ncrona del proveedor (fake en v1; stripe/mercadopago en v2).
        Autenticado por firma del proveedor. Normaliza el payload a un evento interno e
        idempotente por providerPaymentId. Ante PAID crea la orden; ante FAILED deja la sesiÃ³n FAILED.
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, examples: [fake, stripe, mercadopago] }
      requestBody:
        required: true
        description: Payload propio del proveedor (forma libre; el backend lo normaliza).
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200': { description: Recibido (durablemente persistido; procesamiento async) }
        '400': { description: Firma invÃ¡lida }

  /fake-provider/payments/{providerPaymentId}/{action}:
    post:
      tags: [payments]
      summary: '[Solo v1 / no prod] Controlar el pago fake'
      description: >
        Simula las acciones de la pÃ¡gina hosteada de un proveedor real (approveâ†’PAID,
        rejectâ†’FAILED, processingâ†’PROCESSING). Tras un delay opcional dispara el webhook fake.
        Deshabilitado en el perfil de producciÃ³n. Se elimina en v2.
      security: []
      parameters:
        - name: providerPaymentId
          in: path
          required: true
          schema: { type: string }
        - name: action
          in: path
          required: true
          schema: { type: string, enum: [approve, reject, processing] }
      responses:
        '200': { description: AcciÃ³n aplicada }
        '403': { description: Deshabilitado en producciÃ³n }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders:
    get:
      tags: [orders]
      summary: Listar Ã³rdenes
      description: CUSTOMER ve solo las propias; EMPLOYEE/ADMIN ven todas. PaginaciÃ³n por cursor.
      parameters:
        - { name: status, in: query, schema: { $ref: '#/components/schemas/OrderStatus' } }
        - { name: user, in: query, schema: { type: string }, description: 'Filtro por usuario (employee/admin)' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: PÃ¡gina de Ã³rdenes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/OrderSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /orders/{id}:
    get:
      tags: [orders]
      summary: Detalle de orden
      description: Line items, totales, direcciÃ³n y shipment embebidos.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Orden
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders/{id}/track:
    get:
      tags: [orders]
      summary: Seguimiento pÃºblico de orden (guest)
      description: >
        Devuelve el detalle completo de una orden sin requerir autenticaciÃ³n.
        Requiere el token de seguimiento generado al confirmar el pedido guest.
        El backend valida que el token corresponda al orderId; devuelve 403 si no coincide.
      security: []
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - name: token
          in: query
          required: true
          schema: { type: string }
          description: Token de seguimiento incluido en la confirmaciÃ³n del pedido guest
      responses:
        '200':
          description: Detalle de la orden
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders/{id}/cancel:
    post:
      tags: [orders]
      summary: Cancelar orden (Ãºnico punto de cancelaciÃ³n)
      description: >
        Orquesta en una transacciÃ³n: ordenâ†’CANCELLED, shipmentâ†’CANCELLED, restituciÃ³n de stock
        e inicio de reembolso (Paymentâ†’REFUNDED por webhook async). Ãšnico camino de cancelaciÃ³n,
        tambiÃ©n para el backoffice. Solo si el envÃ­o estÃ¡ en CONFIRMED o PREPARED.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Orden cancelada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderCancellation' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /shipments:
    get:
      tags: [shipments]
      summary: Listar envÃ­os
      description: CUSTOMER con ?user=me ve los propios; EMPLOYEE filtra por ?status. PaginaciÃ³n por cursor.
      parameters:
        - { name: user, in: query, schema: { type: string }, description: 'me para el cliente' }
        - { name: status, in: query, schema: { $ref: '#/components/schemas/ShipmentStatus' } }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: PÃ¡gina de envÃ­os
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/ShipmentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /shipments/{id}:
    get:
      tags: [shipments]
      summary: Detalle de envÃ­o
      description: Incluye historial de estados. El cliente solo ve el propio.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: EnvÃ­o
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Shipment' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [shipments]
      summary: Avanzar estado del envÃ­o (EMPLOYEE / ADMIN)
      description: >
        Avanza por los estados de progreso (CONFIRMEDâ†’PREPAREDâ†’IN_TRANSITâ†’DELIVERED).
        No puede llevar a CANCELLED (eso va por /orders/{id}/cancel).
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [PREPARED, IN_TRANSIT, DELIVERED]
      responses:
        '200':
          description: EnvÃ­o actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Shipment' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /actuator/health:
    servers:
      - url: https://api.virtualpet.com
        description: ProducciÃ³n
      - url: http://localhost:8080
        description: Local
    get:
      tags: [health]
      summary: Disponibilidad
      description: >
        Expuesto por Spring Boot Actuator fuera del prefijo `/api/v1`. Incluye health groups
        `liveness` y `readiness` (`/actuator/health/liveness`, `/actuator/health/readiness`).
      security: []
      responses:
        '200':
          description: Servicio saludable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, examples: [UP] }
                  components:
                    type: object
                    additionalProperties: true
        '503': { description: Alguna dependencia caÃ­da }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string }
      description: Cursor opaco de la pÃ¡gina previa
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
    IfNoneMatch:
      name: If-None-Match
      in: header
      required: false
      schema: { type: string }
      description: ETag para revalidaciÃ³n de cachÃ©
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, format: uuid }
      description: Clave de idempotencia para operaciones de pago
    ProductId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    SkuId:
      name: skuId
      in: path
      required: true
      schema: { type: string, format: uuid }
    SessionId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: checkoutSessionId

  headers:
    ETag:
      schema: { type: string }
      description: Identificador de versiÃ³n del recurso para cachÃ©
    XRequestId:
      schema: { type: string }
      description: ID de correlaciÃ³n, devuelto en toda respuesta

  responses:
    BadRequest:
      description: Solicitud invÃ¡lida
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unauthorized:
      description: No autenticado / credenciales invÃ¡lidas
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: No autorizado (rol o propiedad)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Recurso inexistente
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Conflict:
      description: Conflicto de estado (stock, estado de sesiÃ³n/envÃ­o, duplicado, no cancelable)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    ValidationError:
      description: Error de validaciÃ³n del payload
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    TooManyRequests:
      description: Rate limit excedido
      headers:
        Retry-After:
          schema: { type: integer }
          description: Segundos hasta poder reintentar
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    BadGateway:
      description: La pasarela de pago no respondiÃ³
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    Money:
      type: string
      description: Importe decimal con escala fija, serializado como string (BigDecimal).
      examples: ['1500.00']
    Currency:
      type: string
      description: CÃ³digo de moneda ISO 4217.
      examples: [ARS]

    Problem:
      type: object
      description: Error segÃºn RFC 7807.
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        errors:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              issue: { type: string }

    CursorPage:
      type: object
      properties:
        data: { type: array, items: {} }
        limit: { type: integer }
        nextCursor: { type: [string, 'null'] }
        hasMore: { type: boolean }

    AuthTokens:
      type: object
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
        tokenType: { type: string, examples: [Bearer] }
        expiresIn: { type: integer, examples: [900] }
        user: { $ref: '#/components/schemas/UserSummary' }

    UserSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        role: { $ref: '#/components/schemas/Role' }

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        firstName: { type: string }
        lastName: { type: string }
        role: { $ref: '#/components/schemas/Role' }

    Role:
      type: string
      enum: [CUSTOMER, EMPLOYEE, ADMIN]

    Category:
      type: object
      description: CategorÃ­a de catÃ¡logo (entrada de navegaciÃ³n).
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }

    CatalogFacets:
      type: object
      description: Facetas para los filtros del marketplace.
      properties:
        petTypes:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
        categories:
          type: array
          items: { $ref: '#/components/schemas/Category' }
        brands:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }

    ProductSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: [string, 'null'] }
        brand: { type: [string, 'null'] }
        category: { type: string }
        petType: { type: string }
        basePrice: { $ref: '#/components/schemas/Money' }
        thumbnail: { type: [string, 'null'], format: uri }
        active: { type: boolean }

    Product:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: [string, 'null'] }
        brand: { type: [string, 'null'] }
        category: { type: string }
        petType: { type: string }
        active: { type: boolean }
        createdAt: { type: string, format: date-time }
        images:
          type: array
          items: { type: string, format: uri }
        skus:
          type: array
          items: { $ref: '#/components/schemas/Sku' }

    Sku:
      type: object
      properties:
        skuId: { type: string, format: uuid }
        sku: { type: string }
        attributes:
          type: object
          additionalProperties: { type: string }
        price: { $ref: '#/components/schemas/Money' }
        stock: { type: integer }
        stockMin: { type: integer }
        imageUrl: { type: [string, 'null'], format: uri }
        active: { type: boolean }
        createdAt: { type: string, format: date-time }
        available: { type: boolean }

    CartItem:
      type: object
      properties:
        skuId: { type: string, format: uuid }
        sku: { type: [string, 'null'] }
        productId: { type: [string, 'null'], format: uuid }
        productName: { type: [string, 'null'] }
        brand: { type: [string, 'null'] }
        attributes:
          type: object
          additionalProperties: { type: string }
        imageUrl: { type: [string, 'null'], format: uri }
        quantity: { type: integer }
        unitPrice: { $ref: '#/components/schemas/Money' }
        subtotal: { $ref: '#/components/schemas/Money' }
        available: { type: boolean }

    CartItemQuantity:
      type: object
      properties:
        skuId: { type: string, format: uuid }
        quantity: { type: integer }

    Cart:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CartItem' }
        totals: { $ref: '#/components/schemas/Totals' }
        currency: { $ref: '#/components/schemas/Currency' }

    Totals:
      type: object
      properties:
        items: { $ref: '#/components/schemas/Money' }
        shipping: { $ref: '#/components/schemas/Money' }
        grandTotal: { $ref: '#/components/schemas/Money' }

    Address:
      type: object
      required: [addressLine, city, postalCode]
      properties:
        addressLine: { type: string }
        city: { type: string }
        state: { type: string }
        country: { type: string }
        postalCode: { type: string }

    CheckoutSession:
      type: object
      properties:
        checkoutSessionId: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/SessionStatus' }
        lineItems:
          type: array
          items: { $ref: '#/components/schemas/CartItem' }
        totals: { $ref: '#/components/schemas/Totals' }
        currency: { $ref: '#/components/schemas/Currency' }
        shippingAddress:
          oneOf:
            - { $ref: '#/components/schemas/Address' }
            - { type: 'null' }
        expiresAt: { type: string, format: date-time }

    SessionStatus:
      type: string
      enum: [PENDING, AWAITING_PAYMENT, PAID, CONFIRMED, EXPIRED, FAILED]

    PaymentIntent:
      type: object
      properties:
        paymentId: { type: string, format: uuid }
        provider: { type: string, examples: [fake] }
        providerPaymentId: { type: string }
        checkoutUrl: { type: string, format: uri }
        amount: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        status: { $ref: '#/components/schemas/PaymentStatus' }

    Payment:
      type: object
      properties:
        paymentId: { type: string, format: uuid }
        provider: { type: string }
        providerPaymentId: { type: string }
        status: { $ref: '#/components/schemas/PaymentStatus' }
        amount: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        orderId: { type: [string, 'null'], format: uuid }

    PaymentStatus:
      type: string
      enum: [PENDING, PROCESSING, PAID, FAILED, REFUNDED]

    OrderConfirmation:
      type: object
      properties:
        orderId: { type: string, format: uuid }
        shipmentId: { type: string, format: uuid }
        status: { type: string, examples: [CONFIRMED] }
        trackingToken:
          type: string
          description: Token de seguimiento opaco. Solo presente en pedidos guest (POST /checkout/guest).

    OrderCancellation:
      type: object
      properties:
        orderId: { type: string, format: uuid }
        status: { type: string, examples: [CANCELLED] }
        shipment:
          type: object
          properties:
            shipmentId: { type: string, format: uuid }
            status: { type: string, examples: [CANCELLED] }
        refund:
          type: object
          properties:
            paymentId: { type: string, format: uuid }
            status: { $ref: '#/components/schemas/PaymentStatus' }

    OrderStatus:
      type: string
      enum: [CONFIRMED, CANCELLED]

    OrderSummary:
      type: object
      properties:
        orderId: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/OrderStatus' }
        total: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        createdAt: { type: string, format: date-time }
        shipmentId: { type: string, format: uuid }

    Order:
      type: object
      properties:
        orderId: { type: string, format: uuid }
        customerId: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/OrderStatus' }
        lineItems:
          type: array
          items: { $ref: '#/components/schemas/OrderLineItem' }
        totals: { $ref: '#/components/schemas/OrderTotals' }
        currency: { $ref: '#/components/schemas/Currency' }
        shippingAddress: { $ref: '#/components/schemas/Address' }
        shipment:
          type: object
          properties:
            shipmentId: { type: string, format: uuid }
            status: { $ref: '#/components/schemas/ShipmentStatus' }
        createdAt: { type: string, format: date-time }

    OrderLineItem:
      type: object
      description: LÃ­nea persistida en la orden (snapshot de precio al momento de confirmar).
      properties:
        skuId: { type: string, format: uuid }
        quantity: { type: integer }
        unitPrice: { $ref: '#/components/schemas/Money' }
        subtotal: { $ref: '#/components/schemas/Money' }

    OrderTotals:
      type: object
      properties:
        items: { $ref: '#/components/schemas/Money' }
        shipping: { $ref: '#/components/schemas/Money' }
        grandTotal: { $ref: '#/components/schemas/Money' }

    ShipmentStatus:
      type: string
      enum: [CONFIRMED, PREPARED, IN_TRANSIT, DELIVERED, CANCELLED]

    ShipmentSummary:
      type: object
      properties:
        shipmentId: { type: string, format: uuid }
        orderId: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/ShipmentStatus' }
        updatedAt: { type: string, format: date-time }
        contactName: { type: [string, 'null'] }
        contactEmail: { type: [string, 'null'], format: email }
        total: { $ref: '#/components/schemas/Money' }

    Shipment:
      type: object
      properties:
        shipmentId: { type: string, format: uuid }
        orderId: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/ShipmentStatus' }
        shippingAddress: { $ref: '#/components/schemas/Address' }
        statusHistory:
          type: array
          items:
            type: object
            properties:
              status: { $ref: '#/components/schemas/ShipmentStatus' }
              at: { type: string, format: date-time }

